/* TransactionHistory.css */

.table {
  margin-top: 100px;
  overflow-x: auto;
}

.table table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

.table th,
.table td {
  padding: 8px;
  text-align: left;
  border: 1px solid black;
}

.table th {
  background-color: #f2f2f2;
}

.darkColor {
  background-color: #f2f2f2;
}

.lightColor {
  background-color: #ddd;
}
